<head>
  <title>Waschmaschinen im Raum 5015</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <style>
    h1.ui.centered.header.first {
      margin-top: 3em;
    }
    .Site {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .Site-content {
      flex: 1;
    }
  </style>
</head>
<body class="Site">
  <div class="ui container Site-content">
    <h1 class="ui centered header first">Waschmaschinen</h1>
    <br>
    <div class="ui centered equal width grid">
      <div style="width: 0px; height: 0px; padding: 0;"></div>
      <% for (i in waschmaschienen) { %>
        <%  if (waschmaschienen[i]['waschgang'] == 0) {%>
          <div class="ui message green">
            <h2 class="ui header">Waschmaschine <%= waschmaschienen[i]['mnr'] %></h2>
            Frei
          </div>
        <% } else { %>
          <div class="ui message red">
            <h2 class="ui header">Waschmaschine <%= waschmaschienen[i]['mnr'] %></h2>

            Restzeit: <%= waschmaschienen[i]['restzeit'] %> Minuten <br>
            Programm: <%= waschmaschienen[i]['solltemperatur'] %>°
          </div>
          <% } %>
        <% } %>
        <div style="width: 0px; height: 0px; padding: 0;"></div>
    </div>
    <div class="ui divider"></div>
    <h1 class="ui centered header">Trockner</h1>
    <br>
    <div class="ui centered equal width grid">
      <div style="width: 0px; height: 0px;  padding: 0;"></div>
      <% for (i in trockner) { %>
        <%  if (trockner[i]['waschgang'] == 0) {%>
          <div class="ui message green">
            <h2 class="ui header">Trockner <%= trockner[i]['mnr'] %></h2>
            Frei
          </div>
        <% } else { %>
          <div class="ui message red">
            <h2 class="ui header">Trockner <%= trockner[i]['mnr'] %></h2>

            Restzeit: <%= trockner[i]['restzeit'] %> Minuten <br>
            Programm: <%= trockner[i]['solltemperatur'] %>°
          </div>
          <% } %>
        <% } %>
        <div style="width: 0px; height: 0px; padding: 0;"></div>
    </div>
  </div>

  <div  class= "ui vertical footer segment">
    <div class="ui toggle checkbox">
      <input type="checkbox" checked="checked" name="public">
      <label>Automatic Reload</label>
    </div>
  </div>
</body>

<script type="text/javascript">
  let reload = true;

  function wait (timeout) {
    return new Promise((resolve) => {
      setTimeout(() => {
        resolve()
      }, timeout)
    })
  }

  async function startTimeout () {
    //Check again in a minute
    console.log("startTimeout")
    await wait(60000);
    if (reload)
    {
      location.reload();
    }
  };

  $('.ui.checkbox').checkbox({
    fireOnInit : false,
    checked: true,
    onChecked: function () {
      console.log('checked');
      reload = true;
      startTimeout();
    },
    onUnchecked: function () {
      console.log('Unchecked');
      reload = false;
    }
  });

  startTimeout();
</script>
