<head>
  <title>Waschmaschienen</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
</head>
<body>
  <h1 class="ui centered header">Waschmaschinen</h1>
  <br>
  <div class="ui centered equal width grid">
    <div style="width: 0px; height: 0px;"></div>
    <% for (i in waschmaschienen) { %>
      <%  if (waschmaschienen[i]['waschgang'] == 0) {%>
        <div class="ui message green">
          <h2 class="ui header">Waschmaschine <%= waschmaschienen[i]['mnr'] %></h2>
          Frei!
        </div>
      <% } else { %>
        <div class="ui message red">
          <h2 class="ui header">Waschmaschine <%= waschmaschienen[i]['mnr'] %></h2>

          Restzeit: <%= waschmaschienen[i]['restzeit'] %> Minuten <br>
          Programm: <%= waschmaschienen[i]['solltemperatur'] %>
        </div>
        <% } %>
      <% } %>
      <div style="width: 0px; height: 0px;"></div>
  </div>

  <h1 class="ui centered header">Trockner</h1>
  <br>
  <div class="ui centered equal width grid">
    <div style="width: 0px; height: 0px;"></div>
    <% for (i in trockner) { %>
      <%  if (trockner[i]['waschgang'] == 0) {%>
        <div class="ui message green">
          <h2 class="ui header">Trockner <%= trockner[i]['mnr'] %></h2>
          Frei!
        </div>
      <% } else { %>
        <div class="ui message red">
          <h2 class="ui header">Trockner <%= trockner[i]['mnr'] %></h2>

          Restzeit: <%= trockner[i]['restzeit'] %> Minuten <br>
          Programm: <%= trockner[i]['solltemperatur'] %>
        </div>
        <% } %>
      <% } %>
      <div style="width: 0px; height: 0px;"></div>
  </div>
</body>
